name: Build bitcoind on push, or PR to master

env:
  APP: bitcoind

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  build:
    name: Build bitcoind
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}

    strategy:
      fail-fast: false
      matrix:
        subver:
          # only run on new version, otherwise it uses too many Actions minutes
          - '29.2.knots20251110'

          # - '29.2'
          # - '29.1.inq'

        arch:
          - amd64
          - arm32v7
          - arm64v8

    env:
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v4

      - name: Build ${{ env.APP }}
        run: >
          docker build "${{ matrix.subver }}/"
          --build-arg "ARCH=${{ matrix.arch }}"
          --tag       "$APP"

      - name: Show built image details
        run: docker images "$APP"

      - name: Run sanity checks
        env:
          DIR: /usr/local/bin
          MINOR: ${{ matrix.subver }}
        run: |
          run() {
            ENTRYPOINT="${1:-$APP}"; shift
            ARGS=${*:-"--version"}

            printf "\n$ %s %s\n"  "$ENTRYPOINT"  "$ARGS"
            docker run --rm  --entrypoint "$ENTRYPOINT"  "$APP"  $ARGS
          }

          docker inspect "$APP" | jq '.'
          printf "\n"

          run bitcoind | head -n 1
          run bitcoin-cli
          run bitcoin-tx --help | head -n 1
          run bitcoin-wallet --help | head -n 1

          run uname -a
          run cat /etc/os-release
          run sha256sum "$DIR/bitcoind" "$DIR/bitcoin-cli"
